{
    "plugins": [
        "flowtype",
        "react",
        "smells"
    ],
    "rules": {
        "indent": [
            2,
            2
        ],
        "quotes": [
            1,
            "single"
        ],
        "linebreak-style": [
            2,
            "unix"
        ],
        "semi": [
            2,
            "always"
        ],
        "comma-dangle": [
          1,
          "always"
        ],
        "no-extra-semi": 1,
        "smells/no-complex-chaining": 1,
        "smells/no-complex-string-concat": 1,
        "smells/no-complex-switch-case": 1,
        "smells/no-setinterval": 1,
        "smells/no-switch": 1,
        "smells/no-this-assign": 1
    },
    "env": {
        "es6": true,
        "browser": true,
        "mocha": true
    },
    "extends": "eslint:recommended",
    "ecmaFeatures": {
        "jsx": true,
        "experimentalObjectRestSpread": true,
        "modules": true
    },
    "globals": {
        "module": true,
        "require": true,
        "__dirname": true
    }
}
